<%include template/header.ejs%>
<%include template/nav.ejs%>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Detalle del Pedido - Pedido #<%=pedido.code%></h1>
    </div>
    <div class="container">
        <div class="container">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <form>
                    <div class="form-group">
                        <label><strong>Codigo de Pedido: </strong><%=pedido.code%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Codigo de Tracking: </strong><%=pedido.track%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Nombre del Cliente: </strong><%=pedido.name%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Email del Cliente: </strong><%=pedido.email%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Celular del Cliente: </strong><%=pedido.phone%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Destinatario: </strong><%=pedido.receiver%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Que Envia: </strong><%=pedido.desc1%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Tipo: </strong><%=pedido.tipo%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Descripcion Detallada: </strong></label>
                        <textarea type="text" class="form-control" placeholder="Descripcion" rows="5" name="desc2" readonly><%=pedido.desc2%></textarea>
                    </div>
                    <div class="form-group">
                        <label><strong>Tamaño: </strong><%=pedido.size%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Peso: </strong><%=pedido.weight%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Lugar de Envio: </strong><%=pedido.origen%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Lugar de Retiro: </strong><%=pedido.destino%></label>
                    </div>
                    <div class="form-group">
                        <label><strong>Ubicacion: </strong><%=pedido.ubicacion%></label>
                    </div>
                </form>
            </div>
        </div>
    </div>

<%include template/footer.ejs%>